#image{
    width: 400px;
    height: auto;
    display: block;
    margin-top: 100px;
}
.buton
{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600;
  max-width: 400px;
  margin:auto;
  cursor: pointer;
  margin-top: 100px;
}

.response
{
    color: #000;
    text-align: center;
    padding: 5px;
    margin: auto;
    border: 3px solid #000;
    display: none;
    max-width: 400px;
}
@font-face { font-family: Font; src: url('FONT.TTF'); } 
html,body{
  margin:0;
  height:120%;
  font-family: Font;
}

a{
  text-decoration:none
}

.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
  font-size: xx-large;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
    transform:scale(1.0,1.0) 
    translateZ(0);
  background:#1B2030 url(background.jpg) 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}

.info{
  flex: 0 0 auto;
  width:50%;
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}

.info h4, .meta{
  font-size:0.7em
}

.meta{
  font-style:italic;
}

@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}

.content{  
  padding:5% 10%;
  padding-top: 5%;
  text-align:justify;
  font-family: Font;
  font-size: x-large;
  background-image:url(background2.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600;
  max-width: 400px;
  margin:auto;
  margin-top: 100px;
}

.git{
  margin-top:100px
}.btn.git:after{content:"\1F47E";padding-left:5px}
#video 
{
    border: 1px solid black;
    width: 320px;
    height: 240px;
}
  
#photo
{
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
}
  
#canvas 
{
    display: none;
}
  
  .camera 
{
    width: 340px;
    display: inline-block;
    margin-top: 100px;
}
  
.output 
{
    width: 340px;
    display: inline-block;
    vertical-align: top;
}
  
#startbutton 
{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 32px;
    background-color: #a6d8f1;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-family: Font;
    color: #000;
  }
  
.contentarea 
{
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
}

.container 
{
    position: relative;
    display: none;
}
  
.mySlides 
{
    display: none;
}
  
.cursor 
{
    cursor: pointer;
}
  
.prev,.next 
{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
.next 
{
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover,.next:hover 
{
    background-color: rgba(0, 0, 0, 0.8);
}
  
.numbertext 
{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.caption-container 
{
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
  
.row:after 
  {
    content: "";
    display: table;
    clear: both;
}
  
.column 
{
    float: left;
    width: 16.66%;
}
  
.demo 
{
   opacity: 0.6;
}
  
.active,.demo:hover 
{
    opacity: 1;
}
